@media (min-width: 1200px) {
    .container{
        max-width: 1000px;
           }
}
.container-fluid, .container{
    padding: 0 0;
}
.back{
    background: #111a29;
    max-height: 242px;
    width: 100%;
    }
.man{
    max-height: 242px;
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    color: #fff;
}
.text-1{
    font-family: Lato, kural, Arial, helvetica, sans-serif;
    font-size: 1em;
    padding-top: 8px;
}
div.step{
    height: 54px;
    background: #bfd4de;
    display: flex;
    align-items: center;
    }
h5.step-1{
    padding-left: 53px;
    font-weight: bolder;
}
div.fone{
    background: #e3f1f9;
    height: 710px;
}
div.main{
    background:#fff;
    }

/*******************************
***********forms****************
*******************************/
p.sapp{
    font-style: italic;
    padding: 15px 0 15px 53px;
    font-size: 16px;
}
select{
    width: 295px;
    height: 30px;
}
p.name{
    font-weight: bold;
}
.pole{
    width: 295px;
    height: 30px;
    border: none;
    box-shadow: inset 1px 1px 3px 2px rgba(100, 100, 100, 0.2);
}
.form{
    padding-top: 15px;
}
.butt{
     margin: 50px 0 50px 50px;
     background: #364654;
     color: #fff;
     width: 150px;
     height: 40px;
     border: none;
     border-radius: 5px;
     font-size: 1.2em;
 }
.butt:hover{
    background: #627c91;
    color: #fff;
    width: 150px;
    border-radius: 5px;
    font-size: 1.2em;
}
/*******************************
***********footer**************
*******************************/
footer{
    background: #364654;
    height: 70px;

    }
.foot-1{
    color: #fff;
    font-size: 12px;
}
div .row.foot{
    height: 70px;
    align-items: center;
}
.foot-2 a{
    color: #fff;
    text-decoration: underline;
   padding-left: 26px;
    font-weight: 600;
}
.foot-2 a:hover{
    color: #b3d7ff;
    text-decoration: none;
    padding-left: 26px;
    font-weight: 600;
}